[2019-09-06 14:10] dvc94ch opened #1 "implement kinded enums"

[2019-09-09 23:04] dvc94ch opened #2 "selector implementation"
required for graphsync

[2019-09-09 23:06] dvc94ch opened #3 "check compatibility with go implementations"

[2019-09-26 09:13] dvc94ch opened #5 "implement buffer"
a first step would be to bench mem/buf store

[2019-09-26 09:15] dvc94ch opened #6 "codec maintenance"
- move it into it's own crate
- support sync + async
- audit cbor parser for dos

[2019-09-26 09:17] dvc94ch opened #7 "implement arc/lru cache"

[2019-09-28 11:07] dvc94ch commented on #5
This seems to work pretty well now

[2019-09-28 11:07] #5 closed, assigned to dvc94ch

[2020-01-29 18:09] vmx opened #8 "Making codec calls sync"
Based on https://github.com/ipld/ipld/issues/83#issuecomment-579429957 it seems that the codec encoder/decoder should be made sync again.

This would mean that the Codec Trait would change its [encode and decode methds](https://github.com/ipfs-rust/rust-ipld/blob/master/base/src/codec.rs#L18-L20) from `async` to sync
(the CBOR implementation of it is here: https://github.com/ipfs-rust/rust-ipld/bl

[2020-01-30 18:06] Gozala commented on #8
I can take this

[2020-02-02 05:05] dvc94ch commented on #8
Before making any more changes we should probably start by adding some benchmarks, and then validate that this does make a huge difference.

[2020-02-05 12:56] vmx opened #10 "Community calls?"
There is increasing interest in having a proper Rust IPLD implementation from different people/parties. Would there be interest in doing video calls from time to time (e.g. every two weeks) where everyone can join, to coordinate things, which is sometimes easier doing sync? And of course also if you have questions, want to help or just want to know what others have to say.

If there's interest I c

[2020-02-10 14:53] vmx opened #11 "Use upstream instead of forks"
Currently some forks are used. The goal is to get all the changes needed into the upstream crates. This is a tracking issue for the work that needs to done.

 - `cid`:
   - Fork: https://github.com/dvc94ch/rust-cid/tree/cli
   - Upstream PR: https://github.com/multiformats/rust-cid/pull/18
- `multihash`:
  - Fork: https://github.com/dvc94ch/rust-multihash/commits/cli
  - Upstream PR: https://githu

[2020-02-10 15:25] vmx opened #12 "Switching from failure to thiserror?"
Currently `failure` is used. Though as Rust's errors improved there are new crates out there. I suggest to switch to [thiserror](https://github.com/dtolnay/thiserror). I really mean thiserror and not [Anyhow](https://github.com/dtolnay/anyhow) I think we should have fine-grained error handling and not a catch-all approach.

In case people agree, this would be a good issue for someone who wants to

[2020-02-10 16:12] dvc94ch commented on #12
Why don't we just impl Debug, Display, Error and From manually? I'm kind of fed up with the error crate of the week approach.

[2020-02-10 16:33] vmx commented on #12
That works as well. Though this is what "thiserror" is doing with less boilerplate. So one approach (if someone wants to tackle it) could also be using "thiserror", running `cargo expand` and just use that output. I'd personally would use "thiserror" for simplicity, but a manual implementation is also fine.

[2020-02-14 18:48] vmx commented on #12
Here's an example of switching from manual error message to `thiserror`: https://github.com/filecoin-project/bellman/pull/64/files. I quite like that.

[2020-02-20 16:24] vmx opened #14 "Block API"
There is a new [Block API in the JavaScript IPLD](https://github.com/ipld/js-block#block-api) implementation, which I find quite nice.

I was thinking about using a similar one for Rust IPLD. I'm still implementing/playing around with the idea, but I thought I publish a draft early on:

Block
------

A `Block` is an IPLD object together with a CID. The data can be encoded
and decoded.

All operati

[2020-02-21 16:25] dvc94ch commented on #14
it seems like you want to have a struct like this:
[code]
in this case why does `cid(&mut self)` need to be mut? we should handle multithreading transparently, so to avoid having the user wrap a block in an Arc<Mutex>> we need to make sure that the Block impl Clone + Send + Sync and doesn't use &mut self.

There should also be a way to encode/decode straight to a struct without having ipld as an i

[2020-02-21 16:37] vmx commented on #14
The `Block` I currently have looks like that:

[code]

The reasons for the `mut` in my current code is that if you call `cid()` and so far you only have seen the decoded version, you need to encode it first in order to get the CID. The encoded bytes are then stored in `raw`, hence the `mut`.

[2020-02-21 16:39] vmx commented on #8
I'm always in favour of having benchmarks, though in this case I don't think it has a high priority. I would accept a PR making things sync even without benchmarks. Performance surely is a concern at one point, but I don't think we are there yet.

[2020-02-21 17:14] dvc94ch commented on #8
Well it is very useful to have an idea what takes a lot of time and what doesn't. There are huge surprises and regularly checking is advisable. For example using base58 for cids for anything other than displaying to the user is extremely unadvisable. Something I'd not have thought before looking at the flamegraph.

[2020-02-21 17:21] Gozala commented on #8
Maybe it is a good time to ask what is the motivation for switching to sync. I was assuming that async lead to poor performance. If that is not the case it would be to know the motivation. Maybe experience of working with async is poorer ?

Anyway it seems like it’s good to know what the goal is so we can verify afterwards that it is accomplished. If it is performance we should definitely check th

[2020-02-21 17:40] vmx commented on #8
To me the motivation for having it sync would be to have easier to deal with code, if the performance is not worse by an order of a magnitude compared to the async one.

[2020-02-21 19:18] dvc94ch commented on #8
I expect there to be an order of magnitude improvement, I think the problem is that the compiler doesn't support async traits yet, it missed a lot of inlining/optimization improvements. I'll have to look into it again, will probably get around to it soon.

[2020-02-21 19:23] dvc94ch commented on #8
It being easier to deal with code is not a reason. Using async means that the parser works on a stream directly. Sending ipld over tcp/uds would require delimiting the data, buffering it and then parsing the buffer. That means that it's slightly more work for the programmer.

[2020-02-22 18:12] Gozala opened #16 "WASM Compatibility"
I think it would be huge missed opportunity if rust-ipld does not have 1st class support for WASM compile target. I do not know what compromises it requires, but I wanted to raise this subject so we can discuss this.

[2020-02-22 18:20] Gozala opened #17 "Add dag-json implementation"
Once #8 is complete, I would like to revive https://github.com/vmx/rust-ipld/pull/2 to add dag-json support here.

We did have a lengthy conversations about where we should or should not use serde. My personal opinion had being let's use it where it's usable given it's well tested and time proved, we can always rewrite internals (to rip it off) after the fact.

If it does not feel reasonable pleas

[2020-02-22 18:28] Gozala opened #18 "Setup benchmarks to track changes in performance"
As @dvc94ch pointed out in https://github.com/ipfs-rust/rust-ipld/issues/8#issuecomment-581099278 we should add some benchmarks to validate changes do have positive impact we are hoping.

[2020-02-22 18:31] Gozala commented on #8
@dvc94ch @vmx do we have consensus on whether we should block this on #18 or are we comfortable tackling two independent of each other ? I personally would prefer to do it independently to reduce the scope. I imagine we could always validate numbers by running benchmarks against current head and the new head.

[2020-02-22 18:39] Gozala commented on #8
@vmx I think your position is that it would be easier to deal with sync interface and that is why we should do it. I think I agree as it's just as easy to use from both sync and async code.

However if I am understanding argument from @dvc94ch that trade-off is that you no longer work with a stream and need to buffer which adds some complexity.

Is that a fare summary ? I am not sure if two can be

[2020-02-22 18:43] Gozala commented on #10
I don't mind having those, however I'm not sure I'd be able to dial in every time. I do however would love nearly real-time communication channel to discuss things when necessary.

[2020-02-22 21:17] Gozala commented on #8
Also I want to make sure that point made by @dignifiedquire at https://github.com/ipld/ipld/issues/83 has benig considered (inline for convenience)

[2020-02-22 22:35] dvc94ch commented on #8
Maybe I'm wrong, you can easily prove me wrong if that is the case. I'll investigate it and report back once I get around to it. However I already replied to that point.
To be honest I'm also a bit confused why me making a falsifiable claim/hypothesis is causing so much discussion, when it could easily be falsified, it's not like benchmarking stuff early is a waste of time.
And it is a genuine con

[2020-02-23 05:07] Gozala commented on #8
@dvc94ch my reading is @vmx wants to see this change and it’s not related to the performance. On the other I think @dignifiedquire has an opposite view.

I didn’t meant to press on whether your assumptions are valid. I just want to make sure we can all align.

I’m also almost done with a patch for this, plan on submitting it tomorrow & after that I’ll attempt to add benchmarks as per your suggesti

[2020-02-23 11:40] #6 closed, assigned to dvc94ch

[2020-02-23 16:39] dvc94ch commented on #17
I think we can use serde for dag-json as it's not going to be very fast anyway. I can see some reasons why we should support it: debugging, compatibility and possibly because it works well with js. Does anyone have a use case for it (as in is planning to use it for something)?

[2020-02-23 17:06] dvc94ch commented on #16
async-std needs to be ported to wasm first https://github.com/async-rs/async-std/issues/220

[2020-02-23 19:27] Gozala commented on #11
I've run into the issue with #19, presumably because recent changes in https://github.com/multiformats/rust-multibase that are incompatible with uses in https://github.com/dvc94ch/rust-cid/tree/cli:

[code]

[2020-02-24 12:34] vmx commented on #17
I only have test cases as example. DagJSON is used for testing selectors in the Go implementation as it's an easy way to create fixtures with is. Example: https://github.com/ipld/go-ipld-prime/blob/530ccd6893ea4a528ffb0c7a3957754ed874be57/traversal/selector/exploreRecursive_test.go#L312

[2020-02-24 12:36] dvc94ch commented on #17
We do have the `ipld!` macro which was created for exactly that purpose, just in case you hadn't seen it yet.

[2020-02-24 12:39] vmx commented on #8
To explain, why I brought up that I don't care about the perf at the moment that much: I also thought @dvc94ch and I had agreement that it should be sync and I didn't want to take extra time from @Gozala to write benchmarks, when we want to change anyway. So for me it was a time investment/benefit trade-off.

I'm not against benchmarking in general :)

[2020-02-24 12:57] #8 closed, assigned to nobody

[2020-02-24 12:57] dvc94ch commented on #18
Closed in #20

[2020-02-24 12:57] #18 closed, assigned to nobody

[2020-03-02 12:46] koivunej commented on #14
Looking at the proposed structs I feel like I not able to see the usecase for keeping all of these components together in a single struct? I can currently come up with two-ish usecases for blocks in general:

 * encoding from some other representation to bytes
 * (generating in some $app_specific_manner)
 * decoding from bytes to some other representation
 * (consuming in some $app_specific_manner

[2020-03-02 13:02] vmx commented on #14
@koivunej The idea is that for the API it doesn't matter it which form you have the current data. Whether it's AST/DOM or encoded bytes. You can always get the other form out of it. Sometimes it needs some processing, something it just returns the existing values. When using the API you don't have to care about that.

[2020-03-04 21:22] mikeal commented on #14
I can speak pretty well to how this ends up being used in JavaScript.

Once you start layering different interfaces you end up with a lot of actors doing encoding, decoding, and/or hashing. Combining these into a single interface means that you can provide a common API to pass around that normalizes and caches all of this.

This also means that you can pass a single interface to any actor, regardl

[2020-03-05 15:16] dvc94ch commented on #14
I still think that from a user perspective adding `#[derive(DagCbor)]` to a `struct` or `enum` is the most useful abstraction, but there's no reason that they can't both be supported. The macro would create a `Block` with `new` when encoding and read the bytes directly when decoding.

In the current ipld api we have the following:
[code]

So that would change to something like this:
[code]

In gen

[2020-03-05 16:56] vmx commented on #14
I agree. Those derives will then have annotations on how to encode the Rust data structures into the IPLD Data Model.

When you want to add data to some DAG, you would have your current data as Rust/IPLD and while you are traversing to the right location, you would encounter binary blocks.

[2020-03-05 17:19] koivunej commented on #14
Thanks @mikeal for joining in!

While it is difficult to discuss this level of API design as I haven't yet reached the same point in the implementation at all as you three, my initial reaction to this was "could the stronger type system guide us to another design", as in, if some component needs a raw version of a block, then it expects bytes in some form, if a cid, then it expects a cid, and so o

[2020-03-05 17:38] vmx commented on #14
I was wondering what `store` is about and then found it in an [older comment from @dvc94ch](https://github.com/ipfs-rust/rust-ipld/issues/14#issuecomment-595283220) I missed to reply to.

The current direction of IPLD implementations is to move away from having block storage as a central piece. The data should be able to come from anywhere, memory, network or disk. Hence the idea of the Block API

[2020-03-05 19:16] mikeal commented on #14
One thing that might be lost in translation between different languages and abstractions here is that a `Block` instance is, and I’m using the term loosely, immutable once instantiated. By “immutable” i mean that the value returned by any method is static after instantiation. For instance, you can’t ask a `dag-cbor` block for the `dag-json` encode. This is important because you can’t safely link t

[2020-03-05 19:22] mikeal commented on #14
One last and rather important point I somehow forgot. Part of the value of IPLD is to be codec agnostic. That flexibility is lost if you build on codec specific interfaces and a lot of thought went into how the `Block` API could maintain that flexibility throughout the stack. It’s probably worth pulling in @Gozala since he provided a lot of the insight here when we were designing the new JS Block

[2020-03-05 19:32] dvc94ch commented on #14
more methods are required no? For the multiblock ipld vec, it gets loaded from an ipns entry. Then it's modified requiring putting/pinning the new blocks and unpinning the old ones and finally the ipns entry needs to be updated. And ideally all this should be done in an atomic way so that the store state is consistent even when gc is running in the background.

[2020-03-05 19:35] koivunej commented on #14
Thanks for you both for added context, this definelty clarifies the ambitions here. I might need to take a closer look at the `js-ipld` repo next, I've mostly looked at `go-ipld-prime` thinking it was the latest developments.

[2020-03-05 23:18] warpfork commented on #14
So the hope I hold for this stuff is: those two kinds of usage should be easy to intermingle, and it should be possible to write fairly generic code that targets the "data model", and it should work over _whatever_ the implementation is, whether it be rust native structs, some general ipld library data holder type, or whatever.

It's true that many applications will pick _either_ rust native struc

[2020-03-06 02:09] aphelionz commented on #14
Not an expert but some high level thoughts: it seems like by implementing a set of independent traits one can "eat your cake and have it too" while both keeping the code idiomatic to Rust and also achieving the API signature that you want / are used to.

I think some careful thought about how to design the individual traits and as much helpful context we can get us gonna be the trick here. This al

[2020-03-06 10:58] dvc94ch commented on #14
I'm warming up to the block api, but so that the ipld-collections remain independent of the store, I think a store api is also needed as mentioned in my previous comment.

[2020-03-06 11:51] vmx commented on #14
I agree that some store API is needed, it just shouldn't be tightly coupled (as explained in many comments above).

[2020-03-06 11:56] vmx commented on #14
`go-ipld-prime` are the latest developments. On the JS side the latest developments are *not* in `js-ipld` but split across repos. Most notable here are:

 - https://github.com/ipld/js-block
 - https://github.com/ipld/js-codec-interface
 - https://github.com/ipld/js-get-codec

[2020-03-06 12:04] dvc94ch commented on #14
What do you mean by thightly coupled? Tightly coupled to what?

[2020-03-06 12:09] vmx commented on #14
Tightly coupled to traversal and data generation, hence the Block API.

[2020-03-06 14:25] dvc94ch commented on #10
I prefer asynchronous communication. How about using the rust-ipfs riot channel for rust-ipld discussions too?

[2020-03-06 16:21] vmx opened #24 "Removing the Hash trait"
Would it make sense to remove the `Hash` trait?

https://github.com/ipfs-rust/rust-ipld/blob/e172fbc8b7c83c751a82c0d4dde877885335152f/base/src/hash.rs#L7-L14

With the new rust-multihash version, it is just the same as `MultihashDigest`:

https://github.com/multiformats/rust-multihash/blob/a7996e06782a703fb983ed665564add0bbf89d51/src/digests.rs#L275-L285

so we could use that directly.

[2020-03-06 16:21] dvc94ch commented on #24
Yes, probably makes sense.

[2020-03-06 16:22] dvc94ch commented on #10
As @vmx has joined riot, I think this can be closed for now

[2020-03-06 16:22] #10 closed, assigned to nobody

[2020-03-06 16:23] dvc94ch commented on #12
thiserror is ok with me, as unlike failure it generates what one would write manually, so there should be no compatibility issues.

[2020-03-06 16:24] vmx commented on #24
I'll work on that once (once we have updated all the deps).

[2020-03-09 22:51] #12 closed, assigned to nobody

[2020-03-09 22:51] #11 closed, assigned to vmx

[2020-04-02 08:02] koivunej commented on #17
@Gozala hi there! do you have any unpushed implementation of any dag-json work somewhere waiting? Looking at https://github.com/vmx/rust-ipld/pull/2 I think it looks quite a good start. If you have anything like work in progress notes or stuff like that I'd be interested in those! My question in relation to https://github.com/ipfs-rust/rust-ipfs/issues/91.

[2020-04-04 15:37] dvc94ch opened #27 "Replace WriteCbor and ReadCbor."
Instead of `WriteCbor` and `ReadCbor` we should use something like `Encode<Codec::Cbor>` and `Decode<Codec::Cbor>`. On the derive side we could potentially add a generic derive that would be used for `dag-pb` and `dag-json` via an intermediate encoding to ipld and still keep the custom code for cbor that is much faster.

[2020-04-04 16:12] dvc94ch commented on #14
Would #27 be complementary to a block api, or an alternative?

[2020-04-04 16:15] dvc94ch commented on #14
Also reading the proposal again, the concept of a registry is weird in a compiled language. What's wrong with something like this:
[code]

[2020-04-06 13:52] vmx commented on #14
Could be both, I need to take a closer look. I'm close (as in this week) to having something working which illustrates the idea behind the block API. It would be great if we could wait a bit before digging into #27.

[2020-04-06 13:54] vmx commented on #14
The concept of the registry is something I thought we would need, but that's not the case anymore since the refactoring of Multhash (https://github.com/multiformats/rust-multihash/pull/60) and Cid (https://github.com/multiformats/rust-cid/pull/50) using generics. Expect an update to this proposal, this week.

[2020-04-06 14:31] #17 closed, assigned to nobody

[2020-04-06 15:45] vmx opened #29 "Add tests for DagJSON"
The DagJSON currently doesn't have any tests, but there should be some.

Ideally those tests use some fixtures that could also be used by other languages.

[2020-04-09 14:43] vmx commented on #14
Next week :-/

[2020-05-04 17:37] dvc94ch opened #34 "add raw codec"

[2020-05-04 17:38] dvc94ch opened #35 "fix mem reference implementation"

[2020-05-05 21:48] vmx commented on #14
I took the time to actually implement it within a small demo application. The Block API can be found here: https://github.com/vmx/rust-dagbuilder/blob/f7f0c00b96074f6aa6a5aeef0b327b35d73dea72/src/block.rs.

Usage of that API happens in the `create_block()` function: https://github.com/vmx/rust-dagbuilder/blob/f7f0c00b96074f6aa6a5aeef0b327b35d73dea72/src/main.rs#L80-L119

The interesting thing is t

[2020-05-06 15:22] dvc94ch opened #36 "Box<[u8]> vs Vec<u8> as bytes representation"
My take on it:

1. having different implementations of a trait for `Vec<T>` and `Box<[u8]>` is useful
2. an immutable opaque blob of bytes is a `Box<[u8]>`. a `Vec<u8>` represents a mutable buffer or a list of `u8` that may or may not be bytes.

cc @dignifiedquire @vmx @aphelionz @koivunej @rklaehn

[2020-05-06 15:31] dvc94ch opened #37 "Avoiding allocation when encoding a cid"
[code]

vmx:
There is also the identity hash, which is just the data itself. There 128 byte wouldn't be enough.

dvc94ch:
the identity hash doesn't have a size restriction?

dvc94ch:
I believe that would be a bug. The reason for the identity hash is when the data is smaller than a cryptographic hash function. So it can not be longer than the longest hash function we have which would be 512bits.

m

[2020-05-06 15:51] aphelionz commented on #36
Perhaps a cop-out answer but it is it possible to support both, at least at the `rust-cid` level, that way implementers of higher-level crates can choose their preference.

I personally prefer `Box<[u8]>` as it signals to the reader the fixed size, but due to `to_vec` and `to_boxed_slice` it also feels like "six in one hand / half dozen in the other."

[2020-05-06 17:47] koivunej commented on #36
I haven't seen much of `Box<[u8]>` outside of some std internals, like [`std::io::BufReader`](https://doc.rust-lang.org/src/std/io/buffered.rs.html#56). I'd say the `Vec<u8>` as a growable buffer is quite common, like in [`std::io::Read::read_to_end`](https://doc.rust-lang.org/std/io/trait.Read.html#method.read_to_end).

I'd rather read it as hint of fixed length being somehow *important*, nothing

[2020-05-06 18:01] dvc94ch commented on #36
New typing Vec<u8> doesn't help with implementing traits. I still question the utility of vec methods on bytes. The only thing you want to do on bytes is deref them. The only case I can think of would be the special case where the cid happens to be the first byte sequence in a longer byte sequence. But that's why a copy_to_slice was suggested

[2020-05-07 11:12] vmx opened #38 "Having the store traits/impl in core or not?"
Currently the store traits and an in-memory implementation is part of the core crate.

I have use cases, where there is no storage needed at all, hence I wonder if those traits and implementation belong to the core. For me the core of IPLD is without storage, it's just a useful addition to it. I propose moving it to its own crate, though still within this repo.

[2020-05-07 11:29] vmx commented on #38
Closing as with merging #33, the store traits are moved outside of core.

[2020-05-07 11:29] #38 closed, assigned to nobody

[2020-05-07 15:52] #24 closed, assigned to vmx

[2020-05-07 15:52] #27 closed, assigned to nobody

[2020-05-07 15:52] #34 closed, assigned to nobody

[2020-05-08 12:31] vmx commented on #36
I searched around a bit but didn't find anything significant. Most notable is perhaps an old discussion at the [OpenEthereum project](https://github.com/openethereum/openethereum/issues/5936) where they didn't bother changing from Vec to a Boxed Slice because of too much existing code (we don't have that problem).

So to me it seems uncommon to use Boxed Slices instead of Vectors in the Rust ecosy

[2020-05-14 21:21] #3 closed, assigned to nobody

[2020-05-16 13:45] #35 closed, assigned to dvc94ch

[2020-05-17 01:30] dvc94ch commented on #16
@Gozala want to give this a shot? looks like most of the work on the async-std side is done.

[2020-05-17 01:55] Gozala commented on #16
I would love to, but don’t know if I’ll be able to make time for this in coming weeks. I’ll post here if I’ll get around to this.

[2020-05-17 13:36] dvc94ch opened #41 "batch insert"
A common operation is inserting a batch of blocks and pinning only the last one. This is much more efficient than inserting the blocks individually and then unpinning them. This should be an atomic operation, any leftovers from a failure should be able to be garbage collected.

Required for implementing more sophisticated data structures like vec/hamt, where the changes are computed in memory and

[2020-05-17 13:40] dvc94ch commented on #7
Closing in favor of https://github.com/jaemk/cached

[2020-05-17 13:40] #7 closed, assigned to nobody

[2020-05-22 13:11] #41 closed, assigned to nobody

[2020-05-22 13:29] dvc94ch commented on #14
@vmx, should we leave this for an external crate? If so we could close this issue

[2020-05-22 13:31] vmx commented on #14
I want this eventually be part of IPLD, but for now I think it's OK to have it as an external crate. I'd keep the issue open, but if you like to close it, I can also re-open once it's there.

[2020-05-22 13:46] dvc94ch commented on #14
I think the ipld-block-builder is what you'd want if you are using native types, so I'd prefer that the raw api's we have now remain exposed. But I understand there are other applications that benefit from a more dynamic api.

The ipld multiblock vector is defined like this (the Cache and the Codec is from ipld-block-builder):

[code]

[2020-08-25 17:39] dvc94ch commented on #37
Allocation free!

[2020-08-25 17:39] #37 closed, assigned to nobody

[2020-08-25 17:40] #36 closed, assigned to nobody

[2020-08-25 17:40] dvc94ch commented on #29
It has a few in `lib.rs`

[2020-08-25 17:40] #29 closed, assigned to nobody

[2020-08-25 17:42] dvc94ch commented on #14
I believe we have a block api now. Changes to the current block api should probably be discussed in a new issue if necessary.

[2020-08-25 17:42] #14 closed, assigned to nobody

[2020-08-26 15:43] dvc94ch commented on #16
Compiles on wasm using https://github.com/async-rs/async-std/tree/fix-wasm will likely work with async-std 1.6.4

[2020-08-27 15:29] vmx opened #56 "Renaming `Multicodec` to `IpldCodec`"
The term "multicodec" usually refers to https://github.com/multiformats/multicodec/, which is a lost of codes. Within the multicodec table, there are IPLD codecs defines. Hence I propose renaming the [`Multicodec`](https://github.com/ipfs-rust/rust-ipld/blob/e033f29881d3533c62211978edd650c4b3aabc5c/src/codec_impl.rs#L17) enum to `IpldCodec`.

I'm happy to provide a PR, but I'd like to have agreeme

[2020-08-27 15:45] dvc94ch commented on #56
I like the name, and think it's very clear and matches Multihash.

[2020-08-27 15:49] vmx commented on #56
The problem is that a Multihash code is also a Multicodec, so that name is far from clear when someone looks that multicodec repo.

[2020-08-27 15:49] vmx commented on #56
The name that matches Multihash is IpldCodec.

[2020-08-27 15:52] dvc94ch commented on #56
I noticed that before, it's not clear why that's the case. I think for most people it is intuitive

[2020-08-27 16:15] vmx commented on #56
The problem is that "Multicodec" (the repo, not the enum) should really be called "Multicode". But that ship sadly has sailed.

[2020-08-27 16:17] dvc94ch commented on #56
Well then rename it? It's not that hard to do, GitHub keeps old links alive

[2020-08-27 17:17] vmx commented on #56
Even if "Multicodec" would be renamed to "Multicode" it wouldn't change this issue. "Multicodec" would be the wrong word. The enum is about Ipld Codecs (this is what they are named in the IPLD specs), hence the name should be "IpldCodec".

[2020-08-27 20:31] vmx commented on #56
I thought it's an easy change, it isn't. So here's a more elaborate answer.

Multicodec used to be "a code + bytes". And thinking about that more, perhaps it should become that again and the table should be named multicode. [It was me](https://github.com/multiformats/multicodec/commit/aa370d6bb2733a6d06fa241c3f7bf0811007eeff) pushing for making "Multicodec" being the table only, to reflect how it

[2020-08-27 20:56] dvc94ch commented on #56
Binary formats have used a code + bytes since the beginning of computing to encode data, it's nothing new, and it doesn't deserve a fancy name. Why you decided to use the same code space for multiaddr/multicodec/multihash codes doesn't make sense to me, but it doesn't change the fact that the cid expects a multicodec code and a multihash code and it's nonsensical to have a cid with Sha2 as it's co

[2020-08-27 21:22] vmx commented on #56
Exactly. Therefore it's easier to understand if we call it IPLD Codec (or something similar) as not all possible values of the Multicodec Table can be used.

I think that's the best argument for not calling it `Multicodec`.

Anyway I had a look at the specs we currently have for Multiformats and IPLD. I have to admit that things are not named as consistent as they should be. I'll start a discussio

[2020-08-28 09:20] vmx commented on #56
I guess we don't find agreement. Would it help to get feedback from other folks? I don't mean people from the IPLD team as they will likely agree with me, but independent ones?

[2020-08-28 09:24] dvc94ch commented on #56
@rklaehn or @austinabell might have an opinion.

[2020-08-28 10:21] vmx commented on #56
I've looked at the [IPLD specs repo](https://github.com/ipld/specs) and the [CID spec](https://github.com/multiformats/cid/) again. The word Multicodec is used in a lot of places, but it often refers to "Multicodec code" or "identifier". From there it's clear that a Multicodec is *not* an IPLD Codec implementation, it's just an identifier. All those occurrences could be replaced with "Multicode" a

[2020-09-04 15:45] rklaehn opened #58 "Provide mechanism to extract links from a block without building an AST"
Building an AST is very wasteful if all you want is a set of links for e.g. pinning.

At least for Dag-CBOR, it is very easy to write a traversal that does not build an AST. See https://gist.github.com/rklaehn/62e21237e7ef8d868cfe655ad6209f28, which uses https://crates.io/crates/cbor_event .

All that would be needed is to extend the codec trait hierarchy for this operation, and then use it, e.g.

[2020-09-10 18:24] vmx commented on #56
From a side-channel discussion, @dvc94ch mentioned that he's OK with renaming it. I can do that tomorrow (I want to get this in before a next release goes out :)

[2020-09-10 18:28] dvc94ch commented on #56
Well that's not exactly what I said. I said since neither @rklaehn or @austinabell commented on the issue I infer that it's not an important one.

[2020-09-10 18:31] vmx commented on #56
Sorry, I then misunderstood you.

[2020-09-10 18:31] austinabell commented on #56
Yeah I don't care what it's called, if it helps to know my opinion explicitly

[2020-09-11 15:00] dvc94ch commented on #58
Love to have this feature. Any progress on it?

[2020-09-26 08:33] Tails opened #62 "How does this library interface with IPFS?"
How does this library interface with IPFS blocks/objects?

When I encode a JSON document as IPLD, can I persist this structure as an IPFS object where every JSON node is an IPFS object?

[2020-09-26 08:54] Tails commented on #62
I found the answer in:

- https://hackernoon.com/understanding-ipfs-in-depth-2-6-what-is-interplanetary-linked-data-ipld-c8c01551517b
- https://observablehq.com/@jimpick/ipld-intro

[2020-09-26 08:54] #62 closed, assigned to nobody

[2020-09-26 13:26] #16 closed, assigned to nobody

[2020-09-27 14:11] dvc94ch commented on #56
Closing for now

[2020-09-27 14:11] #56 closed, assigned to nobody

[2020-09-27 19:16] vmx commented on #56
I've really a problem with the name `Multicodec` for that enum. Is there any way I can convince you to change this to anything else? I can offer that I ping other members of the broader IPLD community or team mates to put there thoughts here.

[2020-09-27 20:01] dvc94ch commented on #56
Well, it's unlikely to change my mind. If a user of libipld found it confusing I'd be ok with changing it. But neither @austinabell or @rklaehn cared enough about it, and I'm not aware of any other notable users.

[2020-09-28 10:17] vmx commented on #56
For me that's not a Rust specific thing. It's an IPLD/Multiformats issue. It is the wrong name for a thing. So even users that are not using libipld, but are using other IPLD libraries/have created their own implementations might have an opinion.

[2020-09-28 10:21] dvc94ch commented on #56
I guess we can make the change while updating to the new tiny multihash, tiny cid. There will be breaking changes anyway

[2020-09-28 10:29] vmx commented on #56
Anytime is fine as long as it changes :)

[2020-10-02 16:35] dvc94ch opened #67 "max block size needs to have a reasonable default"
People who want to have a larger blocksize can change the default. Bitswap will default to the `DefaultParams`. @troublescooter can you make a PR for it?

[2020-10-02 17:32] #67 closed, assigned to troublescooter

[2020-10-05 21:17] Tails opened #70 "Parse JSON string into IPLD::Map"
In the tests it is made clear that an IPLD object can be constructed using:

- the ipld!() macro
- creating a IPLD::Map from a BTreeSet

Is it also possible to parse a struct into an IPLD if it implements Serialize? Or does the ipld!() accept a JSON string?

[2020-10-05 21:23] dvc94ch commented on #70
You want to parse dag-json into ipld? Dag json is json with support for links as cids. You should look into the dag-json codec.

[2020-10-05 21:24] dvc94ch commented on #70
If you want to serialize a struct to ipld you can use the DagCbor derive macro.

[2020-10-05 22:13] Tails commented on #70
Thanks you for your swift response. DagCbor was the only place I hadn't looked yet.

I'm trying to get from a _regular_ nested JSON (string, or Rust struct) to an IPLD representation (so I can calculate the CID for the JSON blob). However, the NamedStruct in the dag-cbor-derive example already contains IPLD links. Can the DagCBOR crate encode arbitrarily nested Rust structs that do not contain IPL

[2020-10-05 22:53] dvc94ch commented on #70
Yes

[2020-10-06 18:22] Tails commented on #70
(after writing tests for custom datastructure)

Indeed, amazing. Thank you.

[2020-10-06 18:22] #70 closed, assigned to nobody

[2020-10-07 20:54] Tails commented on #70
I noticed that the ```link``` field in the NamedStruct example is commented out. Is it possible to derive a ```Ipld::Link``` from a Rust struct field?

I expected a ```libipld::Cid``` field value to parse into an ```Ipld::Link``` but Cid doesn't seem to implement Serialize/Deserialize.

[2020-10-07 21:33] dvc94ch commented on #70
Don't remember why it's commented out, but it should work.

[2020-10-08 10:04] Tails commented on #70
Ah indeed. I had to remove derive(Serialize, Deserialize) from the struct to make it work. Thank you for your swift replies.

[2020-12-01 15:57] #58 closed, assigned to dvc94ch

[2020-12-14 19:08] #1 closed, assigned to nobody

[2020-12-14 19:08] #2 closed, assigned to nobody

[2020-12-14 19:14] dvc94ch opened #75 "redesign dagcbor macro"
a mvp would contain the following representations, making it extensible to add new representations in the future. rust data structures need to be parsed into some kind of intermediate representation before codegen.

enum:
  - string
  - int
union:
  - keyed
  - kinded
struct:
  - map
  - tuple

[2020-12-17 16:11] #75 closed, assigned to nobody

[2020-12-17 16:11] dvc94ch opened #77 "dag-cbor-derive: improve error handling and messages"

[2020-12-17 16:13] dvc94ch opened #78 "dag-cbor-derive: add default feature"

[2020-12-17 16:13] dvc94ch opened #79 "dag-cbor-derive: try extending it to json"

[2020-12-18 14:12] dvc94ch opened #80 "canonicalize strings"
we're lenient on decoding, but should only encode canonicalized utf8 strings

[2020-12-18 14:42] #78 closed, assigned to nobody

[2020-12-18 14:42] #80 closed, assigned to nobody

[2020-12-18 14:51] vmx commented on #80
I'm not sure if we should really do that or rather let the user decide how they want their strings to be as long as they are valid UTF-8. This sounds like it might lead to subtle bugs. Though I'm OK with having this for now, we can always change if it turns out to be an issue.

[2020-12-18 23:23] dvc94ch opened #85 "update benches and run on ci"

[2020-12-23 22:46] dvc94ch opened #86 "dag-cbor: ipld path traversal without building an ast"

[2020-12-23 22:46] dvc94ch opened #87 "dag-cbor: implement seeking"

[2020-12-28 08:59] rklaehn opened #88 "Compact, validated storage of ipld data"
We need something similar to the `Opaque` type that stores an opaque IPLD dag as a single `Box<[u8]>` or similar. It should be able to read from/write to dag-cbor with a small, constant number of allocations no matter how big the object is.

Ideally this should internally use dag-cbor, but be able to read from/write to dag-json as well.

In serde, this can be implemented using https://docs.rs/serd

[2020-12-28 09:03] rklaehn commented on #88
You might think this is pointless, but when we introduced Opaque it was literally a factor of 10 improvement in memory usage and thus number of events we could afford to keep cached. It also improved performance quite a bit. See https://actyx.slack.com/archives/CNDETHH6U/p1571410960280300

[2021-01-31 19:11] DAOCUONG commented on #79
any guidance how to implement it

[2021-01-31 19:42] dvc94ch commented on #79
Not really. Just start and see how it goes. Good luck

[2021-02-02 14:03] dvc94ch opened #91 "Remove TryReadCbor trait in favor of seeking"
Now that we need to look ahead and need to seek anyway, we should simplify the code and just mandate that when decode fails it hasn't consumed any characters from the read stream.

[2021-02-20 18:31] dvc94ch opened #93 "use an Arc<[u8]> in Block"

[2021-02-20 18:34] dvc94ch opened #94 "add support for unixfsv1"

[2021-02-22 09:45] rklaehn opened #95 "Write utilitiy structs IgnoredAny and Opaque"
IgnoredAny similar to serde https://docs.serde.rs/serde/de/struct.IgnoredAny.html. A thing that just reads and skips a value.

Opaque similar to https://docs.serde.rs/serde_json/value/struct.RawValue.html or https://docs.rs/actyxos_sdk/0.5.0/actyxos_sdk/struct.Opaque.html . Reads a value and stores it in a raw array.

This is needed mostly for Dag-CBOR for now, but in the long term it might be use

[2021-02-22 09:57] rklaehn commented on #95
Not sure it is a problem, but e.g. IgnoredAny can only implement Decode. And for Opaque/RawValue it would probably be best to parametrize it with the codec, so nobody accidentally reads a json RawValue and then writes it to a CBOR stream... :-)

[2021-02-22 09:58] rklaehn commented on #95
If it helps, here are my experiments to write a RawValue:
[code]

[2021-02-22 18:00] dvc94ch commented on #88
Closing as duplicate of #95

[2021-02-22 18:00] #88 closed, assigned to nobody

[2021-02-22 18:00] dvc94ch commented on #87
Closing in favor of #91 and #95

[2021-02-22 18:00] #87 closed, assigned to nobody

[2021-02-22 18:01] dvc94ch opened #97 "support an untagged representation that discriminates based on fields (like serde untagged)"

[2021-02-22 19:10] #91 closed, assigned to nobody

[2021-02-23 08:57] rklaehn commented on #95
Implemented in https://github.com/ipfs-rust/libipld/pull/98

[2021-02-23 10:15] dvc94ch commented on #79
Now that we require seek and TryReadCbor was removed in master, it should be much easier to implement

[2021-02-23 10:25] #95 closed, assigned to nobody

[2021-02-23 10:45] dvc94ch commented on #94
We already support what is needed for bitswap

[2021-02-23 10:45] #94 closed, assigned to nobody

[2021-02-23 10:51] #97 closed, assigned to nobody

[2021-08-02 08:27] aditsachde opened #110 "Positive signed integers not handled properly"
Hey, this crate has been super useful, but I came across a bit of an issue while using it.

In the CBOR [spec](https://www.rfc-editor.org/rfc/rfc8949#section-3.1), an unsigned integer is defined as an integer in the range `0..2^64-1` inclusive. A negative integer is defined as an integer in the range `-2^64..-1` inclusive. Therefore, when encoding a positive isize, it should have the CBOR major ty

[2021-08-02 08:32] dvc94ch commented on #110
Have you checked with the serde cbor implementation? But this does seem bad.

[2021-08-02 10:21] dvc94ch commented on #110
Can you open a PR to fix it? It's not quite as bad as a roundtrip does work.

[2021-08-02 10:22] dvc94ch opened #111 "dag-cbor-derive should not assume a length while decoding"

[2021-08-08 18:18] dvc94ch opened #112 "looking for new co-maintainers"
actyx is using it in production and I will continue to maintain it for as long as actyx uses it. personally however I've moved on to other projects.

[2021-08-12 17:50] molekilla commented on #112
we are using it, https://github.com/Electronic-Signatures-Industries/rust-xdv-protocol

@block-mon @lkrayola

we would like to contribute, lmk

[2021-08-13 10:07] dvc94ch commented on #112
Hi @molekilla

I added you as an external contributor to this repo, I guess that's sufficient to get you started. There is some low hanging fruit in #110 and #111

Cheers

[2021-08-13 10:15] molekilla commented on #112
can you also add @lkrayola, thanks

[2021-08-13 10:23] dvc94ch commented on #112
done

[2021-08-13 12:25] molekilla commented on #111
describe this one, seems to be in gen.rs ?

[2021-08-13 12:32] wngr commented on #111
This is about being more liberal in what we accept when parsing,
see for example https://github.com/ipfs-rust/libipld/blob/d92d261f4831f943ab243aa215d871a5734e8d89/dag-cbor-derive/src/gen.rs#L239-L241 and https://github.com/ipfs-rust/libipld/blob/d92d261f4831f943ab243aa215d871a5734e8d89/dag-cbor-derive/src/gen.rs#L298-L300

[2021-08-13 13:17] vmx opened #113 "Test codecs against IPLD test fixtures"
Finally there are some test fixtures for DAG-CBOR, DAG-JSON and DAG-PB at https://github.com/ipld/codec-fixtures. It would be great to test against those, to make sure things are compatible to other IPLD implementations. The code running those would probably live at that repo.

[2021-08-13 13:25] molekilla commented on #110
related https://github.com/ipfs-rust/libipld/issues/113

[2021-08-14 12:58] molekilla commented on #113
@vmx `rust` folder then will be in https://github.com/ipld/codec-fixtures ? will need access too. thanks

[2021-08-14 13:56] vmx commented on #113
Yes, it will be a `rust` folder over there. A pull request would be great :)

[2021-08-29 17:13] molekilla opened #114 "Build WASM library for assemblyscript tooling"

[2021-12-02 16:41] Stebalien opened #115 "Switch to thiserror or snafu"
libipld currently uses anyhow. Unfortunately:

- [According to the author](https://github.com/dtolnay/anyhow#comparison-to-thiserror), thiserror is a better fit for libraries. Anyhow makes it difficult to handle error cases.
- Anyhow doesn't have great nostd support as `?` will no longer convert errors into `anyhow::Error`.
- Anyhow requires allocation, adding an allocation to all error paths. Whi

[2021-12-02 16:42] Stebalien commented on #115
Note: I believe @samuelburnham would be able/willing to implement this if approved.

[2021-12-02 16:42] Stebalien opened #116 "no_std support"
To enable smaller wasm modules, @samuelburnham and I have been plumbing `no_std` support (using `core2`) through `rust-multihash` ([branch](https://github.com/multiformats/rust-multihash/tree/next)) and `rust-cid` ([branch](https://github.com/multiformats/rust-cid/tree/next). @samuelburnham has a libipld [branch](https://github.com/yatima-inc/libipld/tree/sb/core-io) implementing `no_std` support.

[2021-12-02 16:59] dvc94ch commented on #115
we already use thiserror https://github.com/ipfs-rust/libipld/blob/master/Cargo.toml#L23

an allocation on the error path is actually good for performance as it does less cache thrashing

https://without.boats/blog/failure-to-fehler/

I disagree, have you seen `downcast_ref`? works very well actually, also allows providing custom context.

quoting myself as people constantly want to argue with me

[2021-12-02 17:02] dvc94ch commented on #115
errors that need to be handled or recovered from shouldn't really be errors. returning a custom enum or an option is much better in my opinion.

[2021-12-02 17:28] samuelburnham commented on #115
Regarding no-std support, anyhow seems to work fine but requires using `.map_err(anyhow::Error::msg)?` instead of just `?`, for example:
[code]
@dvc94ch do you think this is would be too verbose or okay to add?

[2021-12-02 17:54] Stebalien commented on #115
That's for applications with _many_ kinds of errors. And I'm really skeptical about that performance assertion (unless you're dealing with large error types).

Sure, but it makes the error types undiscoverable. That's reasonable in application code, but painful in library code.

I agree but that's not an argument against using it correctly. Importantly, "thiserror" allows building error hierarchie

[2021-12-02 17:59] Stebalien commented on #115
Backing up a bit, I think my primary motivations are really:

1. Not imposing anyhow on downstream crates.
2. Better nostd support.

I don't have any concrete use-cases with respect to the rest of my objections.

[2021-12-02 19:14] dvc94ch commented on #115
@samuelburnham

I guess if you put it in a function or macro it's not that bad

@Stebalien

well, if you return a `Stream` you impose the `futures` crate. I think `anyhow` like `futures` is used by so many crates it's fine to impose as a dependency.

[2021-12-02 19:30] Stebalien commented on #115
Well, futures are slowly being upstreamed into the standard library. I'd have a similar stance if this library depended on a specific event loop.

In the case of error handling, we have (and have had):

- API Intrusive:
    - Failure
    - Anyhow
- Non Intrusive:
    - snafu
    - error-chain
    - thiserror

At this point, I don't expect anyhow to be the end-all-be-all of error handling. At a min

[2021-12-02 19:45] dvc94ch commented on #115
well, with the `global_allocator` attribute every target can support heap allocations. and environments that require hard real time and can't deal with non determinism of heap allocations are probably very few. ideally rust would support generating an error enum per function. that would help the rewrapping issue and the unreachable variants. actually thinking about it, it would look quite similar

[2021-12-03 11:03] vmx commented on #115
@Stebalien writes:

I'd like to talk about this from a usability (for maintainers of this library, as well as for users), rather then performance. There doesn't seem to be agreement about performance, but perhaps we can find it in regards to usability.

Currently `anyhow` is used as a wrapper around the existing errors. I don't see any usage of adding context and only a single `ensure!` in current

[2021-12-03 11:37] dvc94ch commented on #115
One big difference is that no backtrace is captured. The rust ecosystem hasn't really noticed that there is such a thing because it only works on nightly. This is very unfortunate, but once the rust team manages to get it's act together and stabilize this feature all the error handling in 99% of crates will need to be fixed. It's extremely annoying when debugging someone elses code and I compile w

[2021-12-03 17:06] Stebalien commented on #115
It does, it's just a bit annoying (see all the cfgs).

---

That is a good point, but note that both snafu and thiserror support backtraces as well. But its definitely a more work and less magical.

---

Honestly, I don't feel super strongly about this at the moment. I'm happy to table the discussion till I have concrete data one way or the other.

[2021-12-06 23:25] #112 closed, assigned to nobody

[2021-12-08 13:46] vmx opened #124 "Remove unleashed feature and its functionality"
Based on the discussions at https://github.com/ipfs-rust/libipld/pull/120 I propose that the `unleashed` feature and its functionality is removed. In case someone needs this feature in future versions of this library, please speak up.

[2021-12-09 17:14] vmx commented on #113
To prevent double efforts: I'll be working on this now.

[2021-12-14 02:37] Stebalien commented on #110
Fixed in #125 but not yet merged to master.

[2022-01-24 10:19] #124 closed, assigned to nobody

[2022-01-29 12:31] dignifiedquire opened #131 "dag-cbor-derive fails to understand package rename"
I am using an alias of `ipld = {package = "libipld"}` to import, but getting the error message of

[code]

[2022-01-29 14:29] dignifiedquire opened #132 "Why does this library contain a `Cargo.lock` file?"

[2022-01-31 16:07] vmx commented on #131
In case you are blocked by this, see https://github.com/ipld/libipld/compare/wip-fix-derive-rename. I'd like to get #129 merged before I PR this one properly.

[2022-01-31 23:05] #132 closed, assigned to nobody

[2022-02-03 14:08] vmx commented on #110
This is fixed with the merge of #129.

[2022-02-03 14:08] #110 closed, assigned to nobody

[2022-02-04 08:50] #131 closed, assigned to nobody

[2022-02-04 21:07] #116 closed, assigned to nobody

[2022-02-08 16:06] vmx opened #139 "Make DAG-PB spec compliant"
The DAG-PB codec isn't spec compliant yet. We have test fixtures at https://github.com/ipld/codec-fixtures which can be used to get there ~(a Rust runner is in the works at https://github.com/ipld/codec-fixtures/pull/25)~ (there is already a Rust test runner there that skips the DAG-PB tests at the moment).

[2022-02-18 14:04] vmx commented on #113
This is done now! What DAG-CBOR and DAG-JSON all pass, hardly any from DAG-PB does, there is a separate issue open for that: https://github.com/ipld/libipld/issues/139.

[2022-02-18 14:04] #113 closed, assigned to vmx

[2022-02-25 09:40] vmx opened #142 "Improve CID handling"
Based on the discussion at https://github.com/ipld/libipld/pull/140#discussion_r812842180 I open this issue to track the problem of possible ways to return a CID when it was not intended.

One example to show this issue:

[code]

The problem here is that it should work with a Newtype Struct named `foobar`, but only with one named after the `CID_SERDE_PRIVATE_IDENTIFIER`.

[2022-08-22 09:29] vmx opened #150 "Get CI back to green"
Currently the `master` branch on CI is not green. Fix all outstanding issues.

[2022-08-24 15:49] matheus23 commented on #150
I think this can be closed :)

@vmx Can you cut a release of `libipld`? This is currently blocking us for releasing a new version of `rs-wnfs` :eyes:

[2022-08-24 16:51] vmx commented on #150
I had to talk with others involved about the release. It's done now.

[2022-08-24 16:51] #150 closed, assigned to nobody

[2022-10-06 17:02] rklaehn opened #154 "Optimized implementations of References for DagPbCodec and DagJsonCodec"
Currently, DagCbor References scrapes references from a blob very efficiently. But DagPbCodec and DagJsonCodec does not. It creates a temporary IPLD AST just to scrape the links from that and throw away the rest.

Especially for DagPbCodec this should be easy, since links are all in one part.

[code]

[2022-10-21 06:49] rkuhn opened #156 "performance degradation between 0.13 and 0.14"
https://github.com/ipfs-rust/unixfsv1/commit/6453d9b29c9e9c92096f43bb559e8b4a54f4f650 introduced a ca. 10% slowdown in the unixfs-v1 benchmarks (I first ran the new, then the old):

[code]

Haven’t looked further yet (need to finish a larger upgrade first).

[2022-11-04 14:48] raulk opened #158 "dag-cbor: add ability to validate input without fully deserializing"
To implement https://github.com/filecoin-project/FIPs/pull/483 securely in the FVM, we need to validate that entry values are well-formed DAG-CBOR payloads. All we need is to perform syntatical validation without incurring in any serde costs/overheads.

[2022-11-04 20:59] ProofOfKeags opened #160 "Question: Why are the macros for deriving the Codec instead of the Data Model?"
As far as I understand, the purpose of IPLD is to largely be codec agnostic, and correspondingly it seems like the derivations being tied to the Codec defeats this property. It is perhaps the case that I am misunderstanding how things are supposed to work but a cursory glance at the examples directory of dag-cbor-derive suggests that it is a proc macro language that is trying to match the schema D

[2022-11-07 09:34] vmx commented on #158
Based on https://github.com/filecoin-project/FIPs/pull/483/files#r1013446172 comment, it sounds being more than syntactical validation, e.g. key ordering. I guess using the Serde code path wouldn't add much overhead, if the deserialized values are dropped (I assume something like that is possible, I haven't tried).

If a custom validation function is added, it should be benchmark against a Serde v

[2022-11-07 09:45] raulk commented on #158
@vmx How would a serde path work here? This is a dynamic data structure whose schema we don't know.

[2022-11-07 09:51] vmx commented on #158
@raulk: You can deserialize to an `Ipld` enum. See https://github.com/ipld/serde_ipld_dagcbor/blob/ea9b594421a47ac431627781a65d641ff54a3f2b/tests/de.rs#L88-L98 for a full example.

[2022-11-07 09:55] raulk commented on #158
Yes I know, but validating the whole input would imply deserialising into ipld::Ipld, which uses owned data, so it's not zero-copy syntactical validation?

[2022-11-07 09:58] raulk commented on #158
Here's a PR: https://github.com/ipld/libipld/pull/159 I'm working on removing the recursion. I have some ideas.

[2022-11-10 12:35] vmx commented on #160
That's correct. The reason why the dag-cbor-derive only exists for CBOR is that one had to start implementing something schema like somewhere.

As https://github.com/ipld/serde_ipld_dagcbor exists now, I'd expect that most of those transformations would live on the Serde level, and hence make it codec agnostic (if more codecs get implemented based on Serde).

[2022-11-10 12:44] vmx commented on #158
Correct. Though I think zero-copy should be possible with Serde, it's just not implemented in `serde_ipld_dagcbor`.

[2022-11-10 12:59] raulk commented on #158
@Stebalien hinted that deserializing into IgnoredAny may do the trick here.

[2022-11-10 19:38] Stebalien commented on #158
Unfortunately, we've found that that doesn't _quite_ work as upstream (cbor4ii) doesn't validate minimality.

[2022-11-10 21:11] vmx commented on #158
We already kind of patch upstream in serde_ipld_dag_cbor, could it be integrated there? I'd surely be interested in pushing as much as possible upstream.

[2022-11-11 21:02] ProofOfKeags commented on #160
I guess where I'm tripping up is where is the transformation from the concrete data type to the IPLD DM taking place? It doesn't seem to occur anywhere. The above referenced `serde_ipld_dagcbor` doesn't seem to answer this because it is simply taking the *serde* data model and serializing it via a dagcbor codec. This seems like the opposite of what you'd want. I'd expect that you'd want to derive

[2022-11-11 22:24] ProofOfKeags opened #162 "Make trait for Schema's without being tied to DagCbor"
As far as I can tell the only code in this library related to schemas is directly tied to the DagCbor codec. As far as I understand, there is no fundamental reason these things should be tied together as Schemas are related to how the IPLD Data Model.

From the [IPLD Schema Docs](https://ipld.io/docs/schemas/#key-features):

So disentangling the DagCbor codec from the schema implementations seems

[2022-11-14 10:43] vmx commented on #160
It goes directly from concrete data type to the serialized version. There is no intermediate IPLD Data Model step. You'd then implement similar derives for other codecs.

I'd hope that something like `IpldDm` would exist, but it would use Serde under the cover, so that it works with every IPLD codec that is implemented the same way as `serde_ipld_dagcbor` on Serde. Please note that so far it's onl

[2022-11-14 10:47] vmx commented on #162
Think of it as one possible implementation. The advantage of this implementation is, that you can directly go from Rust types to the serialized version without an intermediate step.

I hope that the current DAG-CBOR codec from this library is replaced in the future with https://github.com/ipld/serde_ipld_dagcbor. Those schema-like transformations would then happen on the Serde level.

If you're in

[2022-11-14 18:20] ProofOfKeags commented on #160
I just find it rather confusing that the documentation talks a lot about the IPLD data model but that the implementation just uses serde. If we're just gonna use serde, what's the point of IPLD in the first place?

[2022-11-14 18:24] ProofOfKeags commented on #162
I feel like I have to be missing something really important. Can you explain why IPLD should have *anything* to do with serde? serde has an entirely separate data model and IPLD's data model is what guarantees it's canonicalization which is what makes content addressing something that is viable. Without going through the IPLD data model I'm not sure how IPLD actually gives us anything. Serde alrea

[2022-11-15 11:35] vmx commented on #160
The IPLD and the Serde data model are very similar. At one point I thought they are incompatible enough, so that it doesn't make sense to use Serde. I was proven wrong. The "CID hack" in order to make Serde understand links isn't really that nice, but it seems to work. This way you can represent the missing piece from the IPLD Data Model, in the Serde data model.

Serde is indeed used, but for the

[2022-11-15 11:39] vmx commented on #162
IPLD itself doesn't necessarily need to have anything to do with Serde. `serde_ipld_dagcbor` is using Serde to (de)serialize data, kind of only a subset of what Serde's power is. This custom codec makes sure that the result is valid data according to the IPLD specs. So in a sense it kind of is going through the IPLD Data Model implicitly. This is why we need a custom implementation like `serde_ipl

[2022-11-15 19:47] Stebalien opened #163 "Serde support for RawValue"
We can't support _arbitrary_ deserializers this way, but we _can_ support all IPLD codecs.

[2022-11-15 19:48] Stebalien opened #164 "Remove the legacy codec system"
Serde is _significantly_ more usable, and supporting two codec systems is very confusing and a waste of time.

[2022-11-16 10:49] vmx commented on #164
Agreed. Though I'd like to get close to feature parity, so that people using the legacy codec can smoothly upgrade.

[2022-11-23 14:37] dignifiedquire opened #168 "Replace `prost` with `quick-protobuf`"
Currently rust-libp2p and iroh are working on getting rid of the need for `protoc` in its builds. The current plan is to switch to [`quick-protobuf`](https://github.com/tafia/quick-protobuf).

For iroh it would be very useful if libipld switched too, as we otherwise need to avoid parts of libipld.

Refs:

- https://github.com/libp2p/rust-libp2p/issues/3024
- https://github.com/n0-computer/beetle/i

[2022-11-23 15:25] vmx commented on #168
The current DAG-PB version is [not spec compliant](https://github.com/ipld/libipld/issues/139). The proper fix would be to do the same as the [JS implementation](https://github.com/ipld/js-dag-pb) and the [Go implementation](https://github.com/ipld/go-codec-dagpb) and just encode and decode manually, so no need for a protocol buffers library would be needed. Both implementations can serve as a tem

[2022-11-23 15:26] vmx commented on #139
There is a [JS implementation](https://github.com/ipld/js-dag-pb) and a [Go implementation](https://github.com/ipld/go-codec-dagpb) that are both spec compliant which encode and decode the the Protocol Buffers manually. This would be the preferred way to fix this issue. Both can serve as a template for anyone wanting to tackle this issue.

[2022-11-23 16:07] dignifiedquire commented on #168
There is still a dependency on `prost` which I would like to drop.

[2022-11-23 16:08] dignifiedquire commented on #168
That's a lot more work though.

[2022-11-23 16:10] dignifiedquire commented on #139
What's the actual failure? I suspect that protobuf field ordering is the problem, which is just bad design in the original spec and on the decoding side it shouldn't matter, and on encoding it only matters if you need exact hash matching

[2022-11-23 16:12] vmx commented on #139
This is what a spec compliant codec should support. I haven't looked into the details, I only know that the test fixtures don't pass.

[2022-11-23 16:20] dignifiedquire commented on #139
Then heads up, iroh will not be spec compliant. For the reason above about the spec wanting non standard protobuf encoding.

[2022-11-23 16:26] vmx commented on #139
No. The spec is just describing what the original Go implementation for DAG-PB was doing. It was using the usual Protocol Buffers implementation, so I'd call it standard protobuf encoding.

[2022-11-25 08:59] vmx commented on #163
[`RawValue` like `serde_json`](https://docs.rs/serde_json/latest/serde_json/value/struct.RawValue.html).

[2022-11-28 15:47] cdata commented on #164
Heya, @vmx asked me to comment on our usage of the codec approach. To be honest, my first thought was the same as yours @Stebalien but there are two things that I enjoy in the codec approach:

 - Codecs know how to extract links
 - We mostly use `dag-cbor`, but in some cases we also encode as `raw`

I would love for there to be one true way, and if serializing data as blocks was as simple as deriv

[2022-11-28 17:15] Stebalien commented on #164
I agree that we definitely need a way to cleanly extract links. It shouldn't be _too_ difficult to re-implement that with serde by just throwing away everything we don't care about, but the current method is more efficient.